.root {
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  --primary-blue: #233975;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.img {
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--primary-blue);
}

a:hover {
  text-decoration: underline;
}

.small {
  font-size: 80%;
  text-align: center;
}

.split-screen {
  display: flex;
  flex-direction: column;
}

.left {
  height: 200px;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  background-color: #f0f4f5;
}

.left {
  background-image: url('hme.jpg');
  background-size: 1100px 800px;
  background-attachment: fixed;
}

.left.copy {
  color: white;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.left p {
  font-weight: 400;
}

.right .copy {
  color: black;
  text-align: center;
}

.right .copy p {
  margin: 1.5em 0;
  font-size: 0.875rem;
}

.right form {
  width: 328px;
}

form input[type='text'],
form input[type='email'],
form input[type='password'] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  padding-left: 3em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}
label {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.input-container {
  position: relative;
}

.input-container i {
  position: absolute;
  top: 36px;
  left: 16px;
  color: grey;
}
.signup-btn {
  display: block;
  width: 100%;
  background: #034f84;
  color: white;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.signup-btn:hover {
  background: #034f84;
}
.input_box .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: grey;
}
@media screen and (min-width: 900px) {
  .split-screen {
    flex-direction: row;
    height: 100hv;
  }
  .left {
    display: flex;
    width: 70%;
    height: auto;
  }
  .right {
    display: flex;
    right: 0%;
    width: 30%;
    height: 100hv;
  }
}
.input-container select {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}
.text-danger {
  color: red;
  font-size: 14px;
  /* margin-top: 1px; */
  margin-bottom: 3px;
}
/* .input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    text-decoration-color: #0d0d0e;
  }
  input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px;
  }
  .input-field i {
    margin-left: 15px;
    color: rgba(15, 15, 15, 0.3);
  } */
